@font-face {
  font-family: 'Azonix';
  src: url('../public/Azonix.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BoutrosDinkum';
  src: url('../public/BoutrosMBCDinkum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
